@use '@/styles/components/astronaut.scss' as *;

.error-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 0;

    p{
        text-align: center;
    }
}

.error-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 25vh;
    gap: 350px;
    padding: 50px 0;
    flex-grow: 1;
}

.error {
    font-size: 180px;
    color: black;
    margin: 0;
}

$circle-size: 3rem;
$circle-background: #282936;
$icon-background: #fff;
$arrow-color: #fff;
$button-background: transparent;
$text-color: #282936;
$text-hover-color: #fff;
$transition-timing: cubic-bezier(0.65, 0, 0.076, 1);

.come-back-button {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: $button-background;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 16rem;
  height: auto;
  z-index: 10;
  white-space: nowrap;
  align-self: center;

  .circle {
    transition: all 0.45s $transition-timing;
    position: relative;
    display: block;
    margin: 0;
    width: $circle-size;
    height: $circle-size;
    background: $circle-background;
    border-radius: 1.625rem;
  }

  .come-back-button-text {
    transition: all 0.45s $transition-timing;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 2rem;
    color: $text-color;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    font-family: roboto;
  }

  .circle .icon {
    transition: all 0.45s $transition-timing;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: $icon-background;

    &.arrow {
      transition: all 0.45s $transition-timing;
      left: 0.625rem;
      width: 1.125rem;
      height: 0.125rem;
      background: none;

      &::before {
        position: absolute;
        content: "";
        top: -0.29rem;
        right: 0.0625rem;
        width: 0.625rem;
        height: 0.625rem;
        border-top: 0.125rem solid $arrow-color;
        border-right: 0.125rem solid $arrow-color;
        transform: rotate(45deg);
      }
    }
  }

  &:hover {
    .circle {
      width: 100%;
    }

    .circle .icon.arrow {
      background: $icon-background;
      transform: translate(1rem, 0);
    }

    .come-back-button-text {
      color: $text-hover-color;
    }
  }
}