$header-bg: rgba(255, 255, 255, 0.1);
$header-bg-scrolled: rgba(255, 255, 255, 0.7);
$text-color: #333;
$font-family: Roboto;

body {
  font-family: $font-family;
}

.header {
  position: sticky;
  top: 0;
  background: $header-bg;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: background 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 40%;
  margin: 0 auto;
  z-index: 1000;

  &.scrolled {
    background: $header-bg-scrolled;
  }

  .header_logo {
    height: 40px;
    display: flex;
    justify-content: flex-start;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1) rotate(-15deg);
    }

    &:active {
      transform: translateY(2px);
    }
  }

  .nav {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      gap: 20px;
      height: 100%;
    }

    a {
      text-decoration: none;
      color: $text-color;
      font-family: roboto;
      font-size: 14px;
      padding: 10px;
      text-transform: uppercase;
      transition: color 0.3s, text-decoration 0.3s;

      &:hover {
        color: #ff9800;
        font-weight: bold;
      }

      &.active {
        color: #ff9800;
        font-weight: bold;
      }
    }
  }
}
