.project_card {
  width: 200px;
  height: 300px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project_card_image {
  flex-grow: 1;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project_card_info {
  padding: 10px;
  text-align: center;
}

.empty_image {
  background-color: #ccc;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
