.about_card {
    width: 30vw;
    min-width: 320px;
    height: auto;
    aspect-ratio: 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  
    &:hover {
        transform: scale(1.04);
    }
}

.about_card_title_container {
    width: 100%;
    height: 80px;
    background-color: #333333;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_card h3 {
    font-family: 'Roboto';
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.about_card_avatar_container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 70%;
}

.about_card_avatar {
    height: 100%;
    width: 100%;
}

@media (max-width: 1024px) {
    .about_card {
        width: 80%;
        min-width: unset;
    }
}