.project_card {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.project_card_video_container {
  width: 100%;
  height: 100%;
}

.project_card_video_container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project_card_tags {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 5px;
}

.project_card_tag {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.project_card_title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}

.modal_images_carousel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  width: 100%;
  height: auto;
  margin: 20px 0;
  padding-bottom: 10px;
}

.images_wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.images_carousel {
  display: flex;
  gap: 10px;
}

.modal_image {
  width: 100%;
  max-width: 20vw;
  height: auto;
  max-height: 10vh;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #333;
}

/* Modale */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 1000;
}

.modal_content {
  position: relative;
  width: 70vw;
  max-height: 90vh;
  background-color: white;
  border-radius: 10px;
  overflow-y: auto;
  padding: 10px;
}

.modal_video_container {
  position: relative;
  width: 100%;
  height: 50%;
}

.modal_video_container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal_tags {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 5px;
}

.modal_tag {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.modal_title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

.modal_description {
  padding: 20px;
  font-size: 14px;
  color: #333;
  text-align: justify;
}

.modal_url {
  padding: 10px;
  text-align: center;
}

.modal_url a {
  font-size: 14px;
  color: #0073e6;
  text-decoration: underline;
}

.close_modal_button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}
